Repository schpet/tromp: changes, and which lefthook commands are due for each by the changed paths.
All: javascript, other

javascript:
  run: yarn prettier --write {staged_files} && git add {staged_files}

other:
  run: yarn prettier --write {staged_files} && git add {staged_files}

Split up machines into different files
  src/commandMachine.ts
  src/configMachine.ts
  src/extension.ts
  src/extensionMachine.jest.ts
  src/extensionMachine.ts
  src/machine.ts
  src/service.ts
  src/util.ts
Due: javascript

Wire up editor
  src/commandMachine.ts
  src/configMachine.ts
  src/extension.ts
  src/extensionMachine.jest.ts
  src/extensionMachine.ts
  src/service.ts
  src/util.ts
Due: javascript

Implement bookmark machine
  package.json
  src/bookmarkMachine.ts
  src/extension.ts
  src/extensionMachine.ts
  src/service.ts
Due: javascript, other

Cleanup
  src/commandMachine.ts
Due: javascript

Fix test
  src/config.jest.ts
Due: javascript

Include URL on quickpick ui
  src/service.ts
Due: javascript

Add bookmarks
  tromp.json
Due: other

Fix no editor scenario
  src/commandMachine.ts
  src/configMachine.ts
Due: javascript

Refactor
  src/extension.ts
Due: javascript

Separate config errors from command errors
  src/commandMachine.ts
  src/configMachine.ts
  src/extensionMachine.jest.ts
  src/util.ts
Due: javascript

Open bookmarks (#6)
  package.json
  src/bookmarkMachine.ts
  src/commandMachine.ts
  src/config.jest.ts
  src/config.ts
  src/configMachine.ts
  src/extension.ts
  src/extensionMachine.jest.ts
  src/extensionMachine.ts
  src/machine.ts
  src/service.ts
  src/test/fixtures/example-workspace/tromp.json
  src/trompSchema.json
  src/types/trompSchema.d.ts
  src/util.ts
  tromp.json
  tsconfig.json
Due: javascript, other

0.3.0
  package.json
Due: other

Add better install instructions
  README.md
Due: other

0.3.1
  package.json
Due: other

Update README.md
  README.md
Due: other

Upgrade some deps
  package.json
  yarn.lock
Due: other

Fix types
  src/commandMachine.ts
Due: javascript

Bump vscode version, workaround terminal focus bug
  package.json
  src/util.ts
Due: javascript, other

Fix issue where terminal grabbed focus after running a command (#10)
  package.json
  src/commandMachine.ts
  src/util.ts
  yarn.lock
Due: javascript, other

Bump version
  package.json
Due: other

Add publish notes for next time i do this
  README.md
Due: other

Path conditions:
  javascript: any of: {*.js,*.jsx,*.ts}
  other: any of: *.{css,scss,json,md}
