Repository schpet/tromp: changes, and which lefthook commands are due for each by the changed paths.
All: javascript, other

javascript:
  run: yarn prettier --write {staged_files} && git add {staged_files}

other:
  run: yarn prettier --write {staged_files} && git add {staged_files}

typescript not js
  lefthook.yml
Due: none

re-generate
  src/types/trompSchema.d.ts
Due: javascript

Rename
  src/config.jest.ts
  src/config.ts
Due: javascript

Add another test
  src/machine.jest.ts
  src/util.ts
Due: javascript

Add a basic integration test
  package.json
  src/test/suite/extension.test.ts
  yarn.lock
Due: javascript, other

Fix integration tests
  package.json
  src/test/suite/extension.test.ts
Due: javascript, other

Run e2e tests in github
  .github/workflows/tests.yml
  package.json
Due: other

Add xvfb setup to gh actions
  .github/workflows/tests.yml
Due: none

Add xvfb.init
  src/test/xvfb.init
Due: none

Tweaks
  .github/workflows/tests.yml
Due: none

Add e2e tests and cleanup (#3)
  .github/workflows/jest.yml
  .github/workflows/tests.yml
  lefthook.yml
  package.json
  src/config.jest.ts
  src/config.ts
  src/configMachine.jest.ts
  src/extension.ts
  src/machine.jest.ts
  src/machine.ts
  src/nearest.jest.ts
  src/nearest.ts
  src/service.ts
  src/test/suite/extension.test.ts
  src/test/xvfb.init
  src/util.ts
  tslint.json
  yarn.lock
Due: javascript, other

Types
  src/machine.ts
Due: javascript

Cleanup
  src/nearest.ts
Due: javascript

Add a sample workspace for testing
  src/test/fixtures/example-workspace/cool.js
  src/test/fixtures/example-workspace/cool.txt
  src/test/fixtures/example-workspace/tromp.json
Due: javascript, other

Test happy path
  src/service.ts
  src/test/runTest.ts
  src/test/suite/extension.test.ts
  src/test/suite/index.ts
  src/test/suite/tromp.test.ts
  src/util.ts
Due: javascript

Include .vscode dir
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: other

Turn off nounusedlocals
  src/test/suite/tromp.test.ts
  tsconfig.json
Due: javascript, other

Give gh actions a name
  .github/workflows/tests.yml
Due: none

Fix yarn test
  src/test/runTest.ts
Due: javascript

Test only the happy path
  src/test/suite/tromp.test.ts
Due: javascript

Improve tests (#4)
  .github/workflows/tests.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  src/machine.ts
  src/nearest.ts
  src/service.ts
  src/test/fixtures/example-workspace/cool.js
  src/test/fixtures/example-workspace/cool.txt
  src/test/fixtures/example-workspace/tromp.json
  src/test/runTest.ts
  src/test/suite/extension.test.ts
  src/test/suite/index.ts
  src/test/suite/tromp.test.ts
  src/util.ts
  tsconfig.json
Due: javascript, other

Rename WithLine to WithNearest
  package.json
  src/extension.ts
Due: javascript, other

explain the dang thing
  README.md
Due: other

Cleanup
  README.md
Due: other

Add a readme (#5)
  README.md
  package.json
  src/extension.ts
Due: javascript, other

Add keyboard shortcut instructions
  README.md
Due: other

0.1.0
  package.json
Due: other

Fix repo
  package.json
Due: other

0.2.0
  package.json
Due: other

Add link to marketplace
  README.md
Due: other

Remove unused code
  src/machine.ts
  src/service.ts
Due: javascript

Allow specifying links in tromp.json
  src/config.jest.ts
  src/trompSchema.json
Due: javascript, other

Add rudimentary link opening
  package.json
  src/config.ts
  src/extension.ts
  src/machine.ts
  src/service.ts
  src/test/fixtures/example-workspace/tromp.json
  src/types/trompSchema.d.ts
  src/util.ts
Due: javascript, other

Bump version
  package.json
Due: other

dogfood
  tromp.json
Due: other

Fixpack
  package.json
Due: other

Change links → bookmarks, more cute
  src/machine.ts
  src/service.ts
  src/test/fixtures/example-workspace/tromp.json
  src/trompSchema.json
  src/types/trompSchema.d.ts
Due: javascript, other

prefer truncated errors
  tsconfig.json
Due: other

get tests passing
  src/machine.jest.ts
  src/machine.ts
Due: javascript

Path conditions:
  javascript: any of: {*.js,*.jsx,*.ts}
  other: any of: *.{css,scss,json,md}
